.data{
    width: 80%;
    background-color: aquamarine;
    padding-left: 20px;
    border-radius: 5px;
    border: 1px solid goldenrod;
    margin: auto;
    margin-top: 30px;
}
.heading{
    width: 90%;
    font-family: cursive;
}
.space-between{
    display: flex;
    justify-content: space-between;
}
.edit{
    cursor: pointer;
}